.text-center {
    text-align: center;
}

#canvas {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 600px; 
    width: 1400px;
    margin-bottom: 100px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-flex-j-center {
    justify-content: center;
}

.player {
    height: 120px;
    cursor: pointer;
    opacity: 0.5;
}

.player:hover {
    opacity: 1;
    transition: 1s;
}

.selected-player {
    font-size: 3rem;
    font-width: bold;
    margin: 0 3rem;
}

.selector {
    font-size: 2rem;
}